<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chesslogbook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.js"></script>
  </head>
  <body>
   <a href="./app">Log in using Dropbox</a>
  </body>
</html>
